@import url(https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin,cyrillic);

body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    color: #141823;
}
@keyframes ab {
    from {margin-top: 50%}
    to {margin-top: 0}
}
@keyframes man {
    from {opacity: 0}
    to {opacity: 100}
}
.article-view.present{

      }
.home-index #about{
    width: 100%;
    animation-name: ab;
    animation-duration: 4s;
}
#about h1{
margin-top: 2%;
margin-bottom: 2%;
}
.content{
width: 100%;
}
#about2{
padding:3% 15%;
}
#about img{
width: 100%;
margin-bottom: 3%;
-webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}
#about1,#about3{
padding: 3% 15%;
width: 100%;
background-color:#4baa4b;
}
#background {
    background: url("images/background.jpg") no-repeat top;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.4;
    z-index: -1;
}

.form-control {
    display: inline-block;
    border-radius: 0;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 30px;
}

.navbar-default {
    background: transparent;
    border: none;
    text-align: center;
}

.navbar-nav {
    float: none;
    margin: auto;
    display: inline-block;
}
a {
    color: #06365F;
}
a:hover {
    text-decoration: none;
    filter: brightness(0.4);
    opacity: 0.8
}

[id="home/index"] {

}

.home.index .signup a {
    display: inline-block;
    border-radius: 23px;
    background-color: #297e29;
    color: white;
    font-size: 20px;
    width: 180px;
    line-height: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
}

[data-name=about] {
}

body.home.index {
    text-align: center;
}

body.home.index > .wrap > .container {
    padding: 0;
    margin: 0;
    width: 100%;
}

body.home.index > .wrap > .container > div:last-child {
    background-color: white;
}


.user-view .attributes > div > span:first-child:after {
    content: ':';
}

.list a {
    display: block;
}

.home-index {
}

.home-index > div {
    margin: auto;
}

#about {
    width: 920px;
}

#about li > div {
    width: 290px;
    height: 140px;
    margin: 1em;
}

#about ul {
    display: table-row;
}

#about li {
    display: table-cell;
}

#features {
    width: 920px;
}

#features .table-block > div > div {
    padding: 10px;
    width: 50%;
}

#features p {
    font-size: 26px;
}

#features .table-block > div:first-child > div {
    /*border-bottom: 3px solid rgba(246, 50, 0, 0.1);*/
}

#features .table-block > div > div:first-child {
    /*border-right: 3px solid rgba(246, 50, 0, 0.1);*/
}

#features .fa {
    margin-top: 10px;
    background-color: #297e29;
    color: white;
    width: 80px;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    font-size: 36px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}

.table-block {
    display: table;
}

.table-block > div {
    display: table-row;
}

.table-block > div > div {
    display: table-cell;
}

.buttons > a, .button, button {
    display: inline-block;
    box-sizing: content-box;
    overflow: visible;
    border: 1px solid #141823;
    border-radius: 3px;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #121244;
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transform: none;
    transform-origin: 50% 50% 0;
    padding: 6px 12px;
    font-weight: 500;
    min-width: 75px;
    text-align: center;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}
#menu a {
    display: block;
}
#login{
    position: absolute;
    top: 0;
    left: 5%;
    background-color: rgba(255,255,255,0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: solid white 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}
#login a{
    margin: 10px;
    font-size: 1.2em;
    color: #141823;
}
#locale{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5%;
}
#locale a{
    margin-left: 5%;
    font-size: 1.2em;
    color: #141823;
    padding: 5%;
    background-color: rgba(255,255,255,0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: solid white 1px;
    border-left: solid white 1px;
    border-right: solid white 1px;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}
.navbar-default .navbar-nav > li > a{
    color:#141823;
}
.navbar-default .navbar-nav > .active > a{
    color:#141823;
    font-weight: bold;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
    opacity: 70;
}
.wrap>.container{
    background-color: white;
    width: 100%;
    padding: 5% 10%;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}
.home.index .wrap>.container{
    padding: 5% 0;
}
.btn{
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
}
.btn.btn-success{
    background-color: #1e551e;
    border-color: #1a3c11;
}
.navbar-nav.nav li{
text-align: center;
}
img.logo{
    width: 30%;
}
footer{
    background-color: white;
    min-height: 50px;
}
footer img{
    height: 50px;
    position: absolute;
    right: 3%;
}
.navbar-nav.nav a{
    font-size: 1.5em;
}
pre{
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    animation-name: sign;
    animation-duration: 2s;
}
@keyframes level1 {
     from {
         margin-left: -100%;
         margin-right: 100%}
     to {margin-left: 0;
         margin-right: 0}
 }
@keyframes level2 {
    from {
        margin-left: 100%;
        margin-right: -100%}
    to {margin-left: 0;
        margin-right: 0}
}
#level1{
    background-color: #313FA0;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    padding: 1%;
    border-radius: 5px;
    margin-top: 2%;
    color: rgba(255,255,255,0.7);
    animation-name: level1;
    animation-duration: 4s;
}
#level2{
     background-color: #00695B;
     -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
     box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
     padding: 1%;
     border-radius: 5px;
     margin: 2% 0;
    color: rgba(255,255,255,0.7);
    animation-name: level2;
    animation-duration: 4s;
 }
#level3{
    background-color: #C0370D;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    padding: 1%;
    border-radius: 5px;
    margin: 2% 0;
    color: rgba(255,255,255,0.7);
    animation-name: level1;
    animation-duration: 4s;
}
#level4{
    background-color: #B71B1C;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 25px 0px rgba(0,0,0,0.75);
    padding: 1%;
    border-radius: 5px;
    margin: 2% 0;
    color: rgba(255,255,255,0.7);
    animation-name: level2;
    animation-duration: 4s;
}
#main{
    animation-name: man;
    animation-duration: 4s;
    margin: 0 7%;
}
@keyframes level2 {
    from {
        margin-left: 100%;
        margin-right: -100%}
    to {margin-left: 0;
        margin-right: 0}
}@keyframes sign {
     from {
         background-color: grey;
     color: grey;
     }
     to {background-color: transparent;
         color: #121244;}
 }